.infoContainerImg {
    background-image: url("https://image.noelshack.com/fichiers/2019/03/5/1547823479-imgmanga.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
}
